@import "modern-normalize";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@stylex stylesheet;

body {
  background-color: #a0a0a0;
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    system-ui,
    sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  outline: none;
}
